# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.xccheckout
*.moved-aside
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
.build/
.swiftpm/

# XcodeGen output
project.xcodeproj/

# macOS
.DS_Store
SwiftUIepubToAudiobook/SwiftUIepubToAudiobook/Resources/Models/kokoro-v1_0.safetensors
